:root {
  --text-color: #667085;
  --main-color: #8E2424;
  --title-color: #101828;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}





  .dark-mode {
    filter: invert(1) hue-rotate(180deg);
    background-color: white;
  }

  .invert {
    filter: invert(1) hue-rotate(180deg);
  }

