
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
  }
  .links a {
    color: var(--text-color);
    text-decoration: none;
    margin-right: 2rem;
  }
  
  
  button {
    padding: 0.8rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    background: none;
    color: var(--text-color);
    font-size: 0.9rem;
  }
  
  button.signUp {
    background-color: var(--main-color);
    color: #FFF;
  }
  
  .sideMenu {
    display: none;
    visibility: hidden;
  }
  
  .menu.active {
    right: 0;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
  }
  
  .menu {
    display: flex;
    align-items: center;
  }
  
  .menu .links a {
    margin-bottom: 2rem;
  }
  
  .sideMenu img {
    position: relative;
    z-index: 1;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  .links a:hover {
    color: var(--main-color);
   
  }
  
  @media screen and (max-width: 850px) {
    .sideMenu {
        display: initial;
        visibility: visible;
      }
    
      .links {
        margin: 2rem 0;
      }
    
      .links a {
        margin-right: 0;
      }
    
      .menu {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -1000px;
        height: 100vh;
        background: #F9FAFB;
        width: 15rem;
        padding: 2rem;
        transition: all 2s;
      }
    
      .menu .links, .menu .buttons {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
      
    }
    @media screen and (min-width: 1024px) {
      .links a:hover {
        border-bottom: 1px solid var(--main-color);
      }
    }
    
    
   